<div class="row">
<div class="col-lg-12 text-center">
<h1>About Us</h1>
<p class="lead"></p>
<p>My Name is Ahmed Ali Bokhari and I am recently graduated from Fast Nuces Lahore </p>
<p>My aim is to make this website open for ideas so that people could express their ideas without any hesitation and make this world a better place with orignal ideas</p>

</div>
</div>


